header {
    font-family: "Honk", system-ui;
    font-size: 2em;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "MORF" 15,
        "SHLN" 50;
    letter-spacing: 3px;
}

body {
    background-color: #0d1117;
    color: #f0f6fc;
    text-align: center;

    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;  /* 100 to 900 */
    font-style: normal;
}

a {
    color: #58a6ff;
    transition: 0.5s;
    text-decoration: none;
}

a:hover {
    color: #79c0ff;
    background-color: #5285cc;
}

nav {
    display: flex;
    justify-content: center;
    font-size: 1.2em
}

nav a {
    padding: 5px;
    margin: 0 6px;
    text-align: center;
}

h2 {
    font-size: 2em;
    text-align: center;
    letter-spacing: 2px;
    color: #a5d6ff;
}

h3 {
    text-align: center;
    color: #79c0ff;
}

main p {
    font-size: 1.1em;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    text-align: left;
}

.game-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border: 1px solid #a0a0a0;
}

.label {
    color: #879fb9;
    font-weight: bold;
}

.username {
    color: #f85149;
}

footer .container {
    text-align: right;
    font-size: 0.8em;
}