body {
    text-align: center;
    background-color: #272829;
    color: #ffffff;

    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1em;
}

body a {
    color: #fff781;
    text-decoration: none;
}

body a:visited {
    color: #fff781;
}

body a:hover {
    color: #cccccc;
}

body a:active {
    color: #aaaaaa;
}

header h1 {
    color: #ee992b;
    font-family: "Bitcount Prop Double", system-ui;
    font-optical-sizing: auto;
    font-size: 3em;
    font-weight: 350;    /* 100 to 900 */
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "CRSV" 0.5,
        "ELSH" 0,
        "ELXP" 0;
}

nav {
    margin: 40px;
}

nav a {
    color: #fff781;
    text-decoration: none;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 3px;
}

nav a:visited {
    color: #fff781;
}

nav a:hover {
    color: #cccccc;
}

nav a:active {
    color: #aaaaaa;
}

h2 {
    text-align: center;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    text-align: left;
}

.planetImage {
    display: block;
    margin: 0 auto;
    max-height: 500px;
    max-width: 100%;
    border: 1px solid #d6b487;
}

.infoLabel {
    color: #d6b487;
    font-weight: bold;
}

footer .container {
    text-align: right;
    font-size: 0.8em;
}